{
    "comments": false,
    "presets": [
        [ "@babel/env", { "modules": false, "useBuiltIns": "usage", "corejs":  "3.49", "ignoreBrowserslistConfig": true } ]
    ],
    "plugins": [
        "@babel/syntax-dynamic-import",
        "@babel/transform-runtime",
        "@babel/proposal-object-rest-spread"
    ]
}
