{
    "comments": false,
    "presets": [
        [ "@babel/env", { "modules": false } ]
    ],
    "plugins": [
        "@babel/syntax-dynamic-import",
        "@babel/transform-runtime",
        "@babel/proposal-object-rest-spread",
        [
            "transform-imports", {
                "vuetify": {
                    "transform": "vuetify/src/components/${member}",
                    "preventFullImport": true
                },
                "vue-resource": {
                    "transform": "vue-resource/src/index.js"
                }
            }
        ]
    ]
}
