{
    "comments": false,
    "presets": [
        [ "env", { "modules" : false } ]
    ],
    "plugins": [
        "syntax-dynamic-import",
        "transform-object-rest-spread",
        [
            "transform-imports", {
                "vuetify": {
                    "transform": "vuetify/src/components/${member}",
                    "preventFullImport": true
                },
                "vue-resource": {
                    "transform": "vue-resource/src/index.js"
                }
            }
        ]
    ]
}
