[submodule "src/renderer"]
	path = src/renderer
	url = git@github.com:milot-mirdita/mmseqs-web-frontend.git
[submodule "src/backend/src/github.com/milot-mirdita/mmseqs-web-backend"]
	path = src/backend/src/github.com/milot-mirdita/mmseqs-web-backend
	url = git@github.com:milot-mirdita/mmseqs-web-backend.git
