.DS_Store
dist/*
headless/mcp-server/dist/
headless/mcp-server/*.tgz
headless/mcp-server/LICENSE
build/*
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
pkg/
resources/
backend/.cache/
.vscode/
*.md
!README.md
!readme.md
!license.md